##file to store ignore files
data_s/red_estaciones_todos_2021_05.csv
data_s/red_estaciones_todos_2021_02.csv
data_s/red_estaciones_todos_2021_06.csv
data_s/red_estaciones_todos_2022_08.csv
data_s/red_estaciones_todos_2018.csv
data_s/red_estaciones_todos_2021_01.csv
data_s/red_estaciones_todos_2021_02.csv
data_s/red_estaciones_todos_2021_03.csv
data_s/red_estaciones_todos_2021_04.csv
data_s/red_estaciones_todos_2021_05.csv
data_s/red_estaciones_todos_2021_06.csv
data_s/red_estaciones_todos_2021_07.csv
data_s/red_estaciones_todos_2021_08.csv
data_s/red_estaciones_todos_2021_09.csv
data_s/red_estaciones_todos_2021_10.csv
data_s/red_estaciones_todos_2021_11.csv
data_s/red_estaciones_todos_2021_12.csv
data_s/red_estaciones_todos_2022_08.csv
data_s/red_estaciones_todos.csv
